option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
  02_create_env_file:
    command: |
      echo "Creating .env file..."
      touch .env
      echo "OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}" >> .env
      echo "SECRET_KEY=${SECRET_KEY}" >> .env
